.site-template-selector {
	margin-top: 48px;
}

.site-template-selector fieldset {
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0;
}

.site-template-selector legend {
	font-family: var(--sans-serif);
	font-size: var(--size-h3);
	font-weight: 700;
	line-height: 1.3em;
	margin: .6em 0 14px;
	padding: 0;
}

#setupform .site-template-selector legend {
	font-size: var(--size-h5-desktop);
}

@media screen and (min-width: 600px) {
	.site-template-selector legend {
		font-size: var(--size-h3-desktop);
	}
}

.site-template-selector fieldset > ul {
	margin-top: 25px;
	padding-left: 0;
}

.site-template-selector label {
	display: inline;
}

.site-template-selector fieldset > ul > li {
	list-style-type: none;
}

.site-template-selector fieldset > ul > li {
	border-bottom: 2px solid #eaeaea;
	clear: right;
	margin-bottom: 2em;
	padding-bottom: 2em;
	overflow: hidden;
}

.site-template-selector fieldset > ul > li input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
}

.site-template-name {
	font-size: 1em;
	font-weight: bold;
}

.site-template-info {
	margin-top: 1em;
	padding-left: 27px;
}

.site-template-image {
	float: left;
	width: 350px;
}

.site-template-image img {
	border: 1px solid #aaa;
}

.site-template-demo-link {
	font-style: italic;
}

.site-template-new-window-gloss {
	margin-left: 6px;
}

.site-template-meta {
	margin-left: 350px;
}

@media screen and (max-width:768px) {
	.site-template-image {
		float: none;
		margin-bottom: 2em;
		max-width: 90%;
		width: auto;
	}
	.site-template-meta {
		margin-left: 0;
	}
}
